*
{
    margin: 0%;
    padding: 0%;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
/* styling the header*/
header{
    background-color: rgb(58, 58, 58);
    min-height: 70px;
    border-bottom:1px solid #d16500 ;
}

/* styling the logo*/
.logo{
    float: left;
}

.logo h1{
    font-size: 65px;
    color: whitesmoke;
}
.highlight{
  color: #e215159f;
  font-weight: bold;
}

/* styling the menu*/
.menu {
    margin-top: 20px;
    padding: 0%;
    list-style: none;
    float: right;
}

.menu li{
    margin: 0%;
    padding: 5px 20px;
    display: inline-block;
}

.menu li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:white;
    text-decoration: none;
}

.menu li.active {
    border: 1px solid white;
}

/* styling the body*/
body{
    background: rgba(88, 84, 84, 0.65) url('../img/today (2).jpg');
    background-blend-mode: darken;
    background-size: cover;
    
}
#welcomeName{
    font-style: oblique;
    color: aliceblue;
}

/* styling the inputs */

.inputs{
    width: 100px;
    margin: auto;
    color:white;
    
}
#inputLogo{
    text-align: center;
    color: antiquewhite;
}

/* styling the table*/
#table{
    background-color: white;
    border-collapse: collapse;
    margin: 30px opx;
    font-size: 0.9em;
    min-width: 1200px;
    text-align: left;
}

#table thead th{
    background-color: rgb(77, 77, 77);
    color: gainsboro;
}

#table thead#thead2  th{
    background-color: rgb(49, 49, 49);
    color: gainsboro;
    text-align: left;
    font-weight: bold;
}
#table td{
    background-color: rgb(77, 77, 77);
    color: gainsboro;
    font-style: italic;
    padding: 25x;    
 
}
#insert{
    background-color: white;
    border-collapse: collapse;
    margin: 30px opx;
    font-size: 0.9em;
    min-width: 1200px;
    text-align: left;
}
#thead2  th{
    background-color: rgb(49, 49, 49);
    color: gainsboro;
    text-align: left;
    font-weight: bold;
}
input,textarea
{
    background: transparent;
    border-radius: 5px;
    border-width:1px;
    border-color: rgb(41, 10, 10); 
    color: rgb(184, 175, 175);
}
.inputs h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(36, 34, 34);
}
label{
    font-style: oblique;
    font-size: 18px;
}



  









